services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: clonio_app_prod_image:latest
    container_name: clonio_app_prod
    command: "gunicorn app.main:app --workers 1 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000"
    restart: on-failure:5
    ports:
      - 8000:8000
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
