services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: clonio_app_prod_image:latest
    container_name: clonio_app_prod
    command: "gunicorn main:app --workers 1 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000"
    restart: on-failure:5
    networks:
      - app_network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.prod
    image: clonio_nginx_prod_image:latest
    container_name: clonio_nginx_prod
    ports:
      - 80:80
      - 443:443
    volumes:
      - ~/ssl:/etc/nginx/ssl:ro
    restart: always
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
